.j{
    color: white;
    background: #000;
}
#footer_image{
    width: 70px;max-width: 100%;
    height: 60px;
    margin-bottom: 5px;
    transition: 0.3s;
    filter:grayscale(-2000%);
}
#footer_image:hover{
    transform: scale(1.1);
    opacity: 0.7;
}

@media (min-width: 700px) {
    #footer_image{
        margin-right: -50px;
    }
  
}
h3{
    color: white;
}

.container{
    margin-bottom: 30px;
    margin-top: 30px;
}

#footer_products{
    width: 35px;
    height: 35px;
    float: right;
    margin-top: 10px;
    margin-left: 10px;
}

#bottomfooter_img{
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: white;
    margin: 5px;
    padding: 10px;
}
#bottomfooter_img:hover{
    cursor: pointer;
    background: grey;
}


.p{
    margin-left: 30px;
}
@media(min-width: 1200px) {
    .p{
        margin-left: 100px;
    }
    .category{
        margin-left: 100px;
    }
    .recent{
        margin-left: 100px;
    }
}

@media screen and (max-width: 750px) {
    .p {
       margin-left: -30px;
    }

    #footer_products {
      margin-left: 100px;
    }
    .category{
       margin-left: -30px;
    }
    .recent{
       margin-left: -30px;
    }
  }
  