#top_rated{
    width: 360px;
    border: 1px solid rgb(230, 227, 227);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    margin-left: 30px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 60px ;
}

#product_search{
    width: 360px;
    height: fit-content;
    margin-bottom: 30px;
    border: 1px solid rgb(230, 227, 227);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    margin-left: 30px;
    box-sizing: border-box;
    padding: 20px;
}
#product-image{
    margin-right: 40px;
    width: 35px;
    height: 35px;
    float: right;
    margin-top: 10px;
}
hr{
    height: none;
}
#head{
    padding-top: 40px;
    /* padding-bottom: 20px; */
}
.archive{
    /* margin-left: 30px;
    margin-top: 30px; */
    border: 1px solid rgb(230, 227, 227);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    margin-left: 30px;
    box-sizing: border-box;
    height: 130px;
    width: 360px;
    padding-left: 20px;
}
.categories{
    /* margin-left: 30px; */
    /* margin-top: 30px; */
    margin-bottom: -100px;
    border: 1px solid rgb(230, 227, 227);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    margin-left: 30px;
    box-sizing: border-box;
    height: 270px;
    width: 360px;
    padding-left: 20px;
}
input{
    height: 40px;
    border: solid rgb(35, 35, 94);
}
.product_search_button{
    height: 40px;
    width: 80px;
}
#star{
    width: 17px;
}
#product{
    line-height: 10px;
}
.satelite{
    width: 750px;
    margin-right: 40px;
    margin-left: 30px;
}
@media (max-width: 800px) {
    .satelite{
        width: 90%;
        margin: auto;
    }
    .images{
        width: 100%;
    }
    .flex{
        flex-direction: column;
    }
    #product_search{
        width: 100%;
    }
    #top_rated{
        width: 100%;
    }
    .archive{
        width: 100%;
    }
    .categories{
        width: 100%;
    }
    .landscape{
        width: 100%;
    }
   
}
@media(min-width: 800px) and (max-width: 900px){
    .images{
        height: 160px;
    }
    #product_search{
        width: 90%;
    }
    #top_rated{
        width: 90%;
    }
    .archive{
        width: 90%;
    }
    .categories{
        width: 90%;
    }
    .satelite{
        margin-left: -20px;
        width: 460px;
    }
    .landscape{
        max-width: 240px;
        height: 220px;
    }                               
}
@media(min-width: 900px) and (max-width: 1150px){
    .images{
        height: 220px;
    }
    #product_search{
        width: 90%;
    }
    #top_rated{
        width: 90%;
    }
    .archive{
        width: 90%;
    }
    .categories{
        width: 90%;
    }
    .satelite{
        margin-left: -5px;
    }
    .landscape{
        max-width: 330px;
        height: 220px;
    }
}


@media(min-width: 800px){
    .images{
        width: 380px;
        margin-right: 10px;
    }    
}

#btn{
    color: white;
    background-color: #00355b;
    border-style: none;
    width: 140px;
    height: 40px;
    margin-top: 10px;
}
.product_search_button{
    background: #00355b;
    border-style: none;
}




/* Default order (screen width > 800px) */
.k {
    display: flex;
  }
  
  /* Order for screens with width <= 800px */
  @media (max-width: 800px) {
    .my-5 {
      flex-direction: column;
    }
  
    .satelite {
      order: 1; /* Move satelite div to the top */
    }
  
    .my-5 {
      order: 2;
    }
  }
  