.nav-item:hover .dropdown-menu {
  display: block;
}
.user{
  width: 20px;
  height: 20px;
}
.nav-link {
  margin-right: 20px;
}
/* .dropdown-menu {
  transform-origin: top right;
  animation: flipLeftAnimation 0.3s ease-in-out;
}

@keyframes flipLeftAnimation {
  from {
    transform: rotateY(90deg);
    opacity: 0;
  }
  to {
    transform: rotateY(0deg);
    opacity: 1;
  }
} */

